<!doctype html>
<html lang="en">

  <head>

    <meta charset="utf-8" />
    <title>COG API</title>

  </head>

  <body>

    <h1>COG API Server</h1>

    <p>
      <strong>
	COG API Beta: commit
	<a href="https://github.com/asayler/COG/commit/{{longhash}}"
           target="_blank">{{shorthash}}</a> on branch
	<a href="https://github.com/asayler/COG/tree/{{branch}}"
	   target="_blank">{{branch}}</a>
	</strong>
    </p>

    <p>
      Code and
      license available
      on <a href="https://github.com/asayler/COG"
      target="_blank">GitHub</a>.
    </p>

    <p>
      By
      <a href="https://www.andysayler.com" target="_blank">
        Andy Sayler</a> and
      <a href="https://github.com/asayler/COG/blob/master/CONTRIBUTORS"
         target="_blank">
        Others</a>.
    </p>
    
  </body>

</html>
